!attach/.gitkeep
attach/*

!clean_text/.gitkeep
clean_text/*

!memo/.gitkeep
memo/*

!pdfs/.gitkeep
pdfs/*

!pdfs-attach/.gitkeep
pdfs-attach/*

!pdfs-target/.gitkeep
pdfs-target/*

!post/.gitkeep
post/*

!summary/.gitkeep
summary/*

!summary2/.gitkeep
summary2/*

!static/tw/.gitkeep
static/tw/*

!attach/.gitkeep
!clean_text/.gitkeep
!memo/.gitkeep
!pdfs/.gitkeep
!pdfs-attach/.gitkeep
!pdfs-target/.gitkeep
!post/.gitkeep
!summary/.gitkeep
!summary2/.gitkeep
!static/tw/.gitkeep

text-file-search-php/*

__pycache__/*

search/*

debug.sh
log.sh
nohup.out
production.sh
referer.sh
startup.sh
config.yaml
search
videos.txt

archive_noncommentpdf.py
cleantext_to_summary.py
concat_posts.py
delete_unlinkimage.py
generate_summary2.py
insert_space.py
merge_md.py
pdf_to_cleantext.py
pdf_to_summary_notetested.py
pdf_to_twittercard.py
paper.pid
access_log.txt

template/paper.code-workspace
debug_log.txt