<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>認証失敗</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon-192x192.png">

</head>
<body>
    <h1>認証が必要です。</h1>
    <p>認証に失敗しました。再度お試しください。</p>
    <p>{{ client_info }}</p>
</body>
</html>