<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css">

    <style>
        body {
            margin: 0;
            padding: 20px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .toggleable {
            cursor: pointer;
            color: blue;
            text-decoration: underline;
        }
        .list-group-item {
            padding: 0.1rem 1rem; /* パディングを狭くする */

            padding-left: 8px;
            padding-right: 8px;
        }
        .no-underline {
            text-decoration: none;
        }
        .no-underline:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1><a class="no-underline" href="/post">Post</a></h1>
            <div>
                &gt;<a href="/" id="review" >Papernote</a>
            </div>
        </div>
        
        {% if request.authorization %}
        <div class="mb-2">
            <div class="d-flex justify-content-between">
                <div class="btn-group">
                    <form action="{{ url_for('add_post') }}" method="post" class="form-inline d-inline">
                        <button type="submit" class="btn btn-success">Add Post</button>
                    </form>
                    <!-- youtubeボタンを「Add Post」ボタンのすぐ右に配置し、同じ大きさにする -->
                    <span class="mx-1"></span>
                    <a href="/youtube" class="btn btn-primary" style="border-radius: 10%;"><i class="fa-brands fa-youtube"></i></a>
                </div>
                <button type="button" class="btn btn-primary" onclick="toggleAll()">Toggle</button>
            </div>
        </div>
        {% endif %}

        {% if request.authorization %}
        <!-- 検索ボックスと検索ボタンを追加 -->
        <form method="get" action="/post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="検索..." name="search" lang="en" autocapitalize="none">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">検索</button>
                </div>
            </div>
        </form>
        {% endif %}

        {% for topic, files in post_files.items() %}
            {% if topic != '_トピック未設定' or request.authorization %}
            <h2 class="toggleable" onclick="toggleVisibility('{{ topic|escape }}')">{{ topic }}</h2>
            <ul class="list-group mb-4" id="{{ topic|escape }}">
                {% for file in files %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="no-underline" href="{{ url_for('post', filename=file.filename) }}" style="font-size: larger;">
                                {{ file.title }}
                            </a>
                        </div>
                        {% if request.authorization %}
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="no-underline" href="#" onclick="renameFile('{{ file.filename }}'); return false;" style="font-size: small;">
                                {{ file.filename }}
                            </a>
                            <div>
                                <button class="btn btn-primary btn-sm" onclick="copyToClipboard('{{ file.filename }}')">
                                    <i class="fas fa-copy"></i>
                                </button>
                                <button class="btn btn-success btn-sm" onclick="editPost('{{ file.filename }}')">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-danger btn-sm" onclick="deleteFile('{{ file.filename }}')">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}

    </div>

    <!-- Rename Modal -->
    <div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="renameModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="renameForm" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="renameModalLabel">Rename File</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="oldFilename" name="old_filename">
                        <div class="form-group">
                            <label for="newFilename">例）[memo]今日の作業メモ</label>
                            <div class="input-group">
                                <input type="text" id="newFilename" name="new_filename" class="form-control" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">.txt</span>
                                </div>
                            </div>
                        </div>
                        <div id="renameError" class="alert alert-danger d-none"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Rename</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/static/jquery-3.7.0.min.js"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" crossorigin="anonymous"></script>
    <script src="/static/scripts.js"></script> <!-- Added -->

    <script>
        $(document).ready(function() {
            restoreToggleStates();

            $('#renameForm').on('submit', function(event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("rename_post") }}',
                    data: formData,
                    success: function(response) {
                        $('#renameModal').modal('hide');
                        location.reload();
                    },
                    error: function(xhr) {
                        var errorMessage = xhr.responseJSON ? xhr.responseJSON.error : 'リネームに失敗しました。';
                        $('#renameError').text(errorMessage).removeClass('d-none');
                    }
                });
            });

            // ページがキャッシュから復元されたときにトグル状態を復元
            $(window).on('pageshow', function(event) {
                if (event.originalEvent.persisted) {
                    restoreToggleStates();
                }
            });


            // URLからクエリパラメータを取得し、検索フィールドに設定
            const urlParams = new URLSearchParams(window.location.search);
            const searchKeyword = urlParams.get('search'); // 'search'パラメータの値を取得
            if(searchKeyword) {
                $('input[name="search"]').val(decodeURIComponent(searchKeyword.replace(/\+/g, ' ')));

                $('.list-group').each(function() {
                    var element = $(this);

                    element.slideDown(function() {
                        saveToggleState(element.attr('id'), true);
                    });

                });
                
            }

            // 「/」キーで検索ボックスをアクティブにする
            $(document).on('keydown', function(e) {
                if (e.key === '/') {
                    e.preventDefault(); // ブラウザのデフォルトの挙動を防ぐ
                    $('input[name="search"]').focus().select();
                }
            });
        
        });


        function renameFile(oldFilename) {
            // 現在のスクロール位置を保存
            var scrollPosition = window.scrollY || document.documentElement.scrollTop;
            localStorage.setItem('scrollPosition', scrollPosition);

            var filenameWithoutExtension = oldFilename.replace('.txt', '');
            document.getElementById('oldFilename').value = oldFilename;
            var newFilenameInput = document.getElementById('newFilename');
            newFilenameInput.value = filenameWithoutExtension;
            $('#renameModal').modal('show');

            // モーダルが表示された後にテキストを選択
            $('#renameModal').on('shown.bs.modal', function () {
                newFilenameInput.select();
            });
        }

        function copyToClipboard(filename) {
            var url = '/postdata/' + filename;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, false); // false makes the request synchronous
            xhr.send(null);

            if (xhr.status === 200) {
                var text = xhr.responseText;
                var textarea = document.createElement('textarea');
                textarea.value = text;
                document.body.appendChild(textarea);
                textarea.select();
                document.execCommand('copy');
                document.body.removeChild(textarea);
                showTemporaryMessage('コピーされました'); // コピー成功メッセージを表示
            } else {
                showTemporaryMessage('コピーに失敗しました'); // コピー失敗メッセージを表示
                console.error('Failed to copy: ', xhr.statusText);
            }
        }

        function deleteFile(filename) {
            if (confirm('本当にこのファイルを削除しますか？')) {
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("delete_post") }}',
                    data: { filename: filename },
                    success: function(response) {
                        location.reload();
                    },
                    error: function(xhr) {
                        alert('削失敗しました。');
                    }
                });
            }
        }

        function toggleVisibility(topicId) {
            var element = $('#' + topicId);
            element.slideToggle(function() {
                saveToggleState(topicId, element.is(':visible'));
            });
        }

        function toggleAll() {
            var allVisible = $('.list-group').filter(function() {
                return $(this).is(':visible');
            }).length === $('.list-group').length;

            $('.list-group').each(function() {
                var element = $(this);
                if (allVisible) {
                    element.slideUp(function() {
                        saveToggleState(element.attr('id'), false);
                    });
                } else {
                    element.slideDown(function() {
                        saveToggleState(element.attr('id'), true);
                    });
                }
            });
        }

        function saveToggleState(topicId, isVisible) {
            var toggleStates = JSON.parse(localStorage.getItem('toggleStates')) || {};
            toggleStates[topicId] = isVisible;
            localStorage.setItem('toggleStates', JSON.stringify(toggleStates));
        }

        function restoreToggleStates() {
            var toggleStates = JSON.parse(localStorage.getItem('toggleStates')) || {};
            for (var topicId in toggleStates) {
                if (toggleStates.hasOwnProperty(topicId)) {
                    var element = document.getElementById(topicId);
                    if (element) {
                        if (toggleStates[topicId]) {
                            $(element).show(); // アニメーションなしで表示
                        } else {
                            $(element).hide(); // アニメーションなしで表示
                        }
                    }
                }
            }
        }

        function editPost(filename) {
            // 現在のスクロール位置を保存
            var scrollPosition = window.scrollY || document.documentElement.scrollTop;
            localStorage.setItem('scrollPosition', scrollPosition);

            // 編集ページに遷移
            location.href = '/edit_post/' + filename;
        }

        // ページ読み込み時にスクロール位置を復元
        window.onload = function() {
            var savedScrollPosition = localStorage.getItem('scrollPosition');
            if (savedScrollPosition !== null) {
                window.scrollTo(0, parseInt(savedScrollPosition, 10));
                localStorage.removeItem('scrollPosition'); // 一度復元したら削除
            }
        };
    </script>
    
</body>
</html>

