<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>YouTube URL入力</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">YouTube URL入力</h1>
        <form method="POST" action="{{ url_for('youtube') }}" class="mt-4">
            <div class="form-group">
                <label for="youtube_url">YouTube URL:</label>
                <input type="text" id="youtube_url" name="youtube_url" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="interval_sec">フレーム抽出間隔 (秒):</label>
                <input type="number" id="interval_sec" name="interval_sec" class="form-control" value="30">
            </div>
            <button type="submit" class="btn btn-primary btn-block">送信</button>
        </form>
    </div>
    <script src="/static/jquery-3.7.0.min.js"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</body>
</html>
