<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>YouTube Downloader</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon-192x192.png">

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">YouTube Downloader</h1>
        <form action="/ytdl" method="post" class="mt-4">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="url">YouTube URL:</label>
                {{ form.url(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Download</button>
        </form>
    </div>
    <script src="/static/jquery-3.7.0.min.js"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</body>
</html>